* {
    box-sizing: border-box; 
}

body {
    margin: 0;
    background-color: #FAACA8;
    background-image: linear-gradient(19deg, #FAACA8 0%, #DDD6F3 100%);
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-size: 10px; 
    height: 654px;
}

.container {
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem; 
    
}

.todo__container {
    background-color: rgb(255, 255, 255);
    margin: 0 auto;
    width: 100%;
    max-width: 30rem;
    padding: 2rem 0; 
    border-radius: 1rem ;
    box-shadow: 5px 4px 20px #ce8e8b;
}

.todo__title {
    text-align: center;
    margin: 0;
    margin-bottom: 2rem; 
    color: #2e203b;
    
}

.todo-form__input {
    width: 93% ;
    padding: 1rem;
    display: flex;
    margin: auto; 
    border:  solid  #d1b6ec;
    outline: none;
    border-radius: 10px 20px;
}

.todo-form__input:hover{
    box-shadow: 6px 2px 10px -6px #d6bab9;
}

.options__container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 10px;
}

label {
    display: flex;
    justify-content: center;
}

select {
    cursor: pointer;
    border: none;
    width: 90%;
    border-radius: 5px;
    color:#37244b;
    padding: 4px;
    font-size: 14px;
    background-color: #ffffff;
    border: 0.1rem solid #ba7af8;
    border-radius: .5rem;
}



select > option {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}

.tag {
    font-weight: bold;
    color: #ba7af8;
}

.todo-form__btn {
    background-color: rgb(128, 35, 128);
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    width: 46%;
    display: inline-block;
    border: none;
    font-weight: bold;
    padding: 1rem;
    cursor: pointer; 
    border-radius: .5rem;
    outline: none;
}

.todo-form__btn:hover {
    background-color: rgb(231, 166, 216); 
    box-shadow: 6px 4px 14px -6px #9e6d6c;
    
}

.todo__task-list {  
    padding: 0; 
}

.todo__task-list li {
    border-bottom: 1px solid rgb(204, 204, 204);;
    padding: 0.5rem;
    font-size: 1rem;
    list-style: none;
    padding-left: 2rem;
    cursor: pointer;
    display: flex;
    justify-content: space-between; 
}

.todo__task-list li .checked {
    color: rgb(204, 204, 204);
    text-decoration: line-through; 
}

.todo__task-list li:hover {
    border: 1px dashed rgb(204, 204, 204);;
}

.todo__all-done, .todo__remove-all{
    color: #382549;
}

.todo__btn-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.todo__btn-container button {
    width: 42%;
    padding: 0.7rem;
    margin: 0.5rem 1rem;
    border-radius: .5rem;
    background-color: #ecc4ff;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
    outline: none;
    border: none;
    
} 

.todo__btn-container button:hover{
    background-color: rgb(231, 166, 216); 
    color: rgb(255, 255, 255);
    box-shadow: 6px 4px 14px -6px #9e6d6c;
}

